<%- include("partials/header")  %> 
<body>
    <%- include("partials/navbar")  %> 
    <div class="mt-4 container">
        <h1>Central administrativa</h1>
        <p>Aqui temos as princiapais funções do site</p>
    </div>

</body>
<%- include("partials/footer")  %> 